# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [2]:
friends = {"Friend1" : 35,
          "Friend2" : 36,
          "Friend3": 37}

friends['Friend2']

36

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [8]:
friends = {"Friend1" : 50,
          "Friend2" : 36,
          "Friend3": 37}

print((friends["Friend1"]+friends['Friend2']+friends['Friend3'])/3)

41.0

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [9]:
friends['Friend4'] = 50
friends['Friend5'] = 75

print((friends["Friend1"]+friends['Friend2']+friends['Friend3']+friends['Friend4']+friends['Friend5'])/5)

49.6

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [10]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}
print(my_dict['data1']*my_dict['data2']*my_dict['data3'])

-1500000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [24]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]
student_details

avg1 = (student_details[0]['midterm']+student_details[0]['final'])/2
avg2 = (student_details[1]['midterm']+student_details[1]['final'])/2
avg3 = (student_details[2]['midterm']+student_details[2]['final'])/2

avg = [
    {'student_id' : 1, 'Average' : avg1},
    {'student_id' : 2, 'Average' : avg2},
    {'student_id' : 3, 'Average' : avg3}
]

avg

[{'student_id': 1, 'Average': 72.5},
 {'student_id': 2, 'Average': 79.0},
 {'student_id': 3, 'Average': 87.5}]

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [27]:
student_details[0]['Average'] = (student_details[0]['midterm']+student_details[0]['final'])/2
student_details[1]['Average'] = (student_details[1]['midterm']+student_details[1]['final'])/2
student_details[2]['Average'] = (student_details[2]['midterm']+student_details[2]['final'])/2

from pprint import pprint
pprint(student_details)

[{'Average': 72.5,
  'final': 85,
  'midterm': 60,
  'student_id': 1,
  'subject': 'math'},
 {'Average': 79.0,
  'final': 78,
  'midterm': 80,
  'student_id': 2,
  'subject': 'math'},
 {'Average': 87.5,
  'final': 85,
  'midterm': 90,
  'student_id': 3,
  'subject': 'math'}]

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [30]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

dictionary['C1'] = [ dictionary['C1'][0]**2 , dictionary['C1'][1]**2, dictionary['C1'][2]**2]
dictionary['C2'] = [ dictionary['C2'][0]**2 , dictionary['C2'][1]**2, dictionary['C2'][2]**2]

In [31]:
print(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [33]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [35]:
my_salary.keys()

dict_keys(['alex', 'sally', 'dina'])

In [36]:
my_salary.values()

dict_values([25, 28, 30])

In [37]:
sum(my_salary.values())

83

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [41]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

print(len(my_dict))
print(sorted(my_dict.values()))

5
[10, 22, 23, 44, 50]

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [44]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}

result = dict((key, value) for key, value in my_dictionary.items() if value <= 30)
print(result)

{'Key 1': 20, 'Key 2': 30}

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [43]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True

# NOW YOU SHOULD BE FAMILIAR WITH DICTIONARIES, GREAT JOB!